
<tr>
	
  <td>
  	<%= question.description %>
  </td>
  
  <td>
  	<%= question.strength%>
  </td>
<!--  
  <td>
  	<%if question.cancelled%>
  		TAK
  	<%else%>
  		NIE
  	<%end%>
  </td>	
-->  
  <td>
  	<% if current_user.admin? ||  current_user.kiera? %>
		<%= link_to "edytuj", edit_question_path(question) %> 
	<% end %>
  </td>
  
   <td>
   	<% if current_user.admin? ||  current_user.kiera? %>
      <%= link_to "kasuj", question, method: :delete, data: { confirm: "Na pewno chcesz skasować?" } %>	
    <% end %>
  </td>	
  

</tr>

