
<tr>
	
  <td>
  	<%= question.description %>
  </td>
  
  <td>
  	<%= question.strength%>
  </td>
<!--  
  <td>
  	<%if question.cancelled%>
  		TAK
  	<%else%>
  		NIE
  	<%end%>
  </td>	
-->  
  <td>
	<%= link_to "edytuj", edit_question_path(question) %> 
  </td>
  
   <td>
      <%= link_to "kasuj", question, method: :delete,
                                  data: { confirm: "Na pewno chcesz skasować?" } %>	
  </td>	
  

</tr>