<% provide(:title, 'Kryteria - rodzaje analizowanych informacji') %>
<h1>Kryteria - rodzaje analizowanych informacji</h1>

<%= will_paginate :previous_label => t("previous_label"), :next_label => t("next_label") %>

	<table class="table table-striped">
		<tr>
			<th>Opis kryteria</th>
			<th style="width: 12%">Siła kryterium</th>
			<th style="width: 5%"> </th>
			<th style="width: 5%"> </th>
		</tr>
  		<% @questions.each do |question| %>
    		<%= render question %>
  		<% end %>
	</table>

<%= will_paginate :previous_label => t("previous_label"), :next_label => t("next_label") %>

<%= link_to "Dodaj nowe kryterium", new_question_path, class: "btn btn-large btn-primary" %>
