<% provide(:title, 'Kontakt') %>

<h1>Kontakt</h1>


<p><i class="icon-user"></i> <b style="padding-left: 10px">Dariusz Murawski</b> </p>
<p><i class="icon-home"></i> <b style="padding-left: 10px">Urząd Skarbowy w Sokółce</b> </p>
<p><i class="icon-envelope"></i> <b style="padding-left: 10px">dariusz.murawski@pd.mofnet.gov.pl</b> </p>
<p><i class="icon-volume-up"></i> <b style="padding-left: 10px">85 711 14 46</b> </p>





