




<div class="center hero-unit">
  <h1>Zarządzanie Ryzykiem</h1>

  <h2>
   Witamy w programie "Karta Oceny Ryzyka Rejestracji Podmiotu"
  </h2>
  
  <h3>
   Wersja 0.7
  </h3>
  

</div>
