




<div class="center hero-unit">
  <h1>Zarządzenie Ryzykiem</h1>

  <h2>
   Witamy w programie "Karta Oceny Ryzyka Rejestracji Podmiotu"
  </h2>
  
  
  <%= link_to "Zarejestruj się w programie!", signup_path, class: "btn btn-large btn-primary" %>
</div>
