<% provide(:title, 'Zarejestrowani użytkownicy') %>
<h1>Zarejestrowani użytkownicy</h1>

<%= will_paginate :previous_label => t("previous_label"), :next_label => t("next_label") %>
<ul class="users">
	<table class="table table-striped">
		<tr>
			<th style="width: 5%">Login</th>
			<th>Imię</th>
			<th>Nazwisko</th>
			<th>E-mail</th>
			<th style="width: 5%">Administrator</th>
			<th style="width: 5%">Kierownik</th>
			<th style="width: 5%"> </th>	
			<th style="width: 5%"> </th>			
		</tr>
  		<% @users.each do |user| %>
    		<%= render user %>
  		<% end %>
	</table>
</ul>
<%= will_paginate :previous_label => t("previous_label"), :next_label => t("next_label") %>
<%= link_to "Doadaj nowego użytkownika", new_user_path, class: "btn btn-large btn-primary" %>