<% provide(:title, 'Zarejestrowani użytkownicy') %>
<h1>Zarejestrowani użytkownicy</h1>

<%= will_paginate %>
<ul class="users">
	<table>
		<tr>
			<td>Login</td>
			<td>Imię</td>
			<td>Nazwisko</td>
			<td>E-mail</td>
			<td>Kasuj?</td>
		</tr>
  		<% @users.each do |user| %>
    		<%= render user %>
  		<% end %>
	</table>
</ul>
<%= will_paginate %>