<% provide(:title, @user.name) %>

<div class="row">
  <div class="span6">
	<b><i>Login:</i></b>
  </div>
  <div class="span6">
	<%= @user.login %>
  </div>
</div>  
<div class="row">
  <div class="span6">
	<b><i>Imię:</i></b>
  </div>
  <div class="span6">
	<%= @user.forename %>
  </div>
</div>  
<div class="row">
  <div class="span6">
	<b><i>Nazwisko:</i></b> 
  </div>
  <div class="span6">
	<%= @user.name %>
  </div>
</div>  
<div class="row">
  <div class="span6">
	<b><i>Adres e-mail:</i></b>
  </div>
  <div class="span6">
	<%= @user.email %>
  </div>
</div> 
<div class="row">
  <div class="span6">
	<b><i>Uprawnienia kierownika?</i></b> 
  </div>
  <div class="span6">
	<% if @user.admin? %> TAK <%else%> NIE <%end%>
  </div>
</div> 


       
       
  