<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
		liczba błędów w formularzu: <%= object.errors.count %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
   <!--   <li>* <%#= t(msg) %></li> -->
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
  
 

<% end %>