
<tr>
	
  <td>
  	<%= level.description %>
  </td>
  
  <td>
  	<%= level.value%>
  </td>
   
  <td>
  	<% if current_user.admin? ||  current_user.kiera? %>
		<%= link_to "edytuj", edit_level_path(level) %> 
	<% end %>
  </td>
 
</tr>

