<% provide(:title, 'Wykonane analizy') %>
<h1>Wykonane Analizy</h1>

<%= will_paginate %>
	<table class="table table-striped check">
		<tr>
			<th style="width: 15%">Imię i nazwisko</th>
			<th>Nazwa</th>
			<th style="width: 1%">PESEL</th>
			<th style="width: 1%">NIP</th>
			<th colspan='2' style="width: 10%">Poziom ryzyka</th>
			<th style="width: 1%">Szczegóły</th>	
			<th style="width: 1%">Kasuj?</th>			
		</tr>
  		<% @checks.each do |check| %>
    		<%= render check %>
  		<% end %>
	</table>
<%= will_paginate %>
<%= link_to "Doadaj nową analizę", new_check_path, class: "btn btn-large btn-primary" %>