<% provide(:title, 'Wyszukiwanie podatnika z POLTAX') %>
<h1>Wyszukiwanie podatnika z POLTAX</h1>

<div class="row">
	<div class="span8">
      <%#= f.submit "Zatwierdź analizę", class: "btn btn-large btn-primary" %>
      <%= link_to "Anuluj wyszukiwanie", new_check_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>