
/* mixins, variables, etc. */

$orangeMediumLight: #DBA97A;


$USlinkcolor:       #003355;

$USbluelight:       #EEF5F9;
$USbluelightmedium: #B7D1E1;
$USbluelightdark:   #015077;

$US1:               #006fb7;
$US2:               #0560af;
$US3:               #03469b;

// Navbar
// -------------------------

$navbarBackgroundHighlight:              #ffffff !default;
$navbarText:                             #777 !default;
$navbarLinkColor:                        #777 !default;
//$navbarLinkColorHover:            $grayDark !default;
//$navbarLinkColorActive:           $gray !default;


$navbarInverseBackground:                $US1 !default;
$navbarInverseBackgroundHighlight:       $US1 !default;
$navbarInverseBorder:                    $US2 !default;

//$navbarInverseText:                      $grayLight !default;
$navbarInverseLinkColor:                 $USbluelightmedium !default;
//$navbarInverseLinkColorHover:            $white !default;
//$navbarInverseSearchBackgroundFocus:     $white !default;
$navbarInverseSearchPlaceholderColor:    #ccc !default;

$tableBackgroundAccent:                  $USbluelight !default; 
$tableBorder:                            $USbluelightmedium !default;

$paginationBackground:                   #fff !default;
$paginationBorder:                       $USbluelightmedium !default;
$paginationActiveBackground:             $USbluelight !default;


$inputBorder:                            $USbluelightmedium !default;
$inputDisabledBackground:                $USbluelight !default;




//$textColor:                              $USbluelightdark !default;
$placeholderText:                        $USbluelightdark !default;






$dropdownBorder:                $USbluelightmedium !default;
$dropdownDividerTop:            $USbluelightmedium !default;
$dropdownLinkColor:             $USbluelightdark !default;










@import "bootstrap";
/*@import "bootstrap-sprockets";*/




@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hero-unit{
  background-color: $USbluelight;
}
/* universal */


html {
  overflow-y: scroll;
}


body {
  /*padding-top: 60px;*/
  padding-top: 120px;
  color: $USbluelightdark;
  
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: $USbluelightdark;
}

section {
  overflow: auto;
}

table {
  font-size: 0.9em;
}

.reset_info {
  font-size: 0.7em;
  margin-bottom: 10px;
}

.table_bg{
  background-color: $USbluelight;
}

select::-ms-expand {
    width:12px;
    border:none;
    color: $USbluelightdark;
    background:#fff;
}


.logoname{
  margin-top: 20px;
  margin-left: 100px;
}

@mixin ie-background-cover($image-path) {
 // filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{image_path($image-path)}, sizingMethod='scale');
 // -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{image_path($image-path)}, sizingMethod='scale')";
  background-image: none;
}

.aplogo{
  background-image: asset_url("APlogo1.gif");
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: left top;
  .ie8 & {
    @include ie-background-cover('APlogo1.gif');
  }

}





.new_check_ans_header {
  background-color: $USbluelight;
}

.pkd {
  
  font-size: 0.8em;
}

.check {
  
  font-size: 0.8em;
}

.kryt {
  
  font-size: 1.1em;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;

}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
/*  float: left;*/
  float: block;
/*  margin-right: 10px;*/
  font-size: 1.8em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.user-color {
  color: $orangeMediumLight;
}
.us-color {
  color: $orangeMediumLight;
}
/* footer */

footer {
 /* position: fixed;
  bottom: 0;
  height:100px;
  width:940px;*/
  
    
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $US1;
  color: $gray;
  a {
    color: $USlinkcolor;
    &:hover {
      color: $USbluelightdark;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* forms */

input, textarea, select, .uneditable-input {
//  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}


input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


.ui-autocomplete {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
//  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: $USbluelightmedium;
//  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  
  max-height: 300px;
  max-width: 600px;
  overflow-y: auto;
  overflow-x: auto;
//  overflow-x: hidden;
  padding-right: 20px;
}
  .ui-widget-content {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: $USbluelightdark;
    white-space: nowrap;
 }

 /*   &.ui-state-hover, &.ui-state-active {*/
.ui-state-focus {
      color: #ffffff;
      text-decoration: none;
      background-color: $US1;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  



