<footer class="footer">
  <small>
  	<b class="us-color"><%= Parameter.first.us_name  %></b>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Informacje o programie",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="#">Aktualności</a></li>
    </ul>
  </nav>
</footer>