<footer class="footer">
  <small>
    <a href="#">Karta Oceny Ryzyka Rejestracji Podmiotów</a>
    wykonane przez Dariusz Murawski
  </small>
  <nav>
    <ul>
      <li><%= link_to "Informacje o programie",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="#">Aktualności</a></li>
    </ul>
  </nav>
</footer>