<% provide(:title, "Informacje o urzędzie") %>
<h1>Informacje o urzędzie</h1>

<div class="row">
  <div class="span6">
	<b><i>Kod Urzędu Skarbowego:</i></b>
  </div>
  <div class="span6">
	<%= @parameter.us_code %>
  </div>
</div>  
<div class="row">
  <div class="span6">
	<b><i>Nazwa Urzędu Skarbowego:</i></b>
  </div>
  <div class="span6">
	<%= @parameter.us_name %>
  </div>
</div>  


